<!doctype html>
<html lang="it" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS v1 Basic</title>
  <!-- AngularJS 1.8.3 + ngRoute (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-resource.js"></script>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body ng-controller = "sessionCtrl">
  <header class="site-header" ng-controller = "headCtrl">
    <h1>Cimitero World</h1>
    <nav>
      <a href ng-click="nav.goHome()">Home</a>
      <a href="#!/about">About</a>
      <a href ng-click="nav.goShopTombe()">ShopTomba</a>
      <a href ng-click="nav.goShopFiori()">ShopFiore</a>
      <div ng-if="user.isAdmin()"> <!--admin only-->
      <a href ng-click="nav.goZone()">Zone</a>
      <a href ng-click="nav.goTipiFiore()">Tipi Fiore</a>
      <a href ng-click="nav.goTipiTomba()">Tipi Tomba</a>
      </div>
    </nav>
  </header>

  <main ng-view class="view"></main>

  <!-- App scripts -->
  <script src="app/app.js"></script>
  <script src="app/router.js"></script>
  <script src="indexCtrl.js"></script>
  <script src="sessionCtrl.js"></script>
  <script src="app/controllers/MainCtrl.js"></script>
  <script src="app/services/apiService.js"></script>
  <script src="app/services/navigation.js"></script>
  <script src="app/services/userSession.js"></script>
  <script src="app/Login/login.js"></script>
  <script src="app/Shop/ShopFiore/ShopFiore.js"></script>
  <script src="app/Shop/ShopTomba/ShopTomba.js"></script>
  <script src="app/Product/VersioneFiore/FioreVersionControl.js"></script>
  <script src="app/Product/VersioneFiore/ServiceVersionFiori.js"></script>
  <script src="app/Product/VersioneTomba/TombaVersion.js"></script>
  <script src="app/Product/Zona/zona.js"></script>
  <script src="app/Login/controllerRegistrazione.js"></script>
</body>
</html>
