<link rel="stylesheet" href="/fe/assets/css/Product.css" />

<div class="list-product-container" ng-app="app" ng-controller="tombaVersionCtrl">
    <div class="list-product">
        <h1>VERSIONE DELLE TOMBE</h1>
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Azioni</th>
            </tr>

            <tr ng-repeat="vt in versioneTombe">
                <td ng-if="!edit">{{vt.nome}}</td>
                <td ng-if="edit">
                    <label> modifica nome
                        <input type="text" ng-model="vt.nome" />
                    </label>
                </td>
                <td ng-if="!edit">{{vt.descrizione}}</td>
                <td ng-if="edit">
                    <label> modifica descrizione
                        <input type="text" ng-model="vt.descrizione" />
                    </label>
                </td>
                <td ng-if="!edit">{{vt.prezzo | currency:'€'}}</td>
                <td ng-if="edit">
                    <label> modifica prezzo
                        <input type="number" ng-model="vt.prezzo" placeholder="" />
                    </label>
                </td>

                <td>
                    <button type="submit" ng-click="removeTomba(vt)">Elimina</button>
                    <button type="submit" ng-if="!edit" ng-click="editTomba()">Modifica</button>
                    <button type="submit" ng-if="edit" ng-click="saveTomba(vt)">Salva</button>
                </td>

            </tr>
        </table>

    </div>
    <div class="addProduct">
        <h1>AGGIUNGI VERSIONE TOMBE</h1>
        <form ng-submit="submitTomba()">
            <label>
                <input type="text" ng-model="newTomba.nome" placeholder="Inserisci nome tomba">
            </label>
            <label>
                <input type="text" ng-model="newTomba.descrizione" placeholder="Inserisci descrizione">
            </label>
            <label>
                <input type="number" ng-model="newTomba.prezzo" placeholder="Inserisci prezzo tomba">
            </label>
            <button type="submit">Crea Tomba</button>
        </form>
    </div>
</div>