<link rel="stylesheet" href="/fe/assets/css/Product.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
<script src="/fe/app/Product/VersioneFiore/FioreVersionControl.js"></script>
<script src="/fe/app/Product/VersioneFiore/ServiceVersionFiori.js"></script>
<div class="list-product-container" ng-app="app" ng-controller="listaFioriCtrl"></div>>
<div class="list-product">
  <h1>LISTA DEI FIORI</h1>
  <!--attraverso ng repeat faccio apparire a schermo i dati presi dall'be-->
  <table>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
      <th>Azioni</th>
    </tr>

    <tr ng-repeat="x in datiFiori">
      <td ng-if="!edit">{{x.nome}}</td>
      <td ng-if="edit">
        <label> modifica nome
          <input type="text" ng-model="x.nome" />
        </label>
      </td>
      <td ng-if="!edit">{{x.descrizione}}</td>
      <td ng-if="edit">
        <label> modifica descrizione
          <input type="text" ng-model="x.descrizione" />
        </label>
      </td>
      <td ng-if="!edit">{{x.prezzo}}</td>
      <td ng-if="edit">
        <label> modifica prezzo
          <input type="text" ng-model="x.prezzo" placeholder="" />
        </label>
      </td>

      <td>
        <button type="submit" ng-click="cancella(x)">Elimina</button>
        <button type="submit" ng-if="!edit" ng-click="editFiori()">Modifica</button>
        <button type="submit" ng-if="edit" ng-click="saveFiore(x)">Salva</button>
      </td>

    </tr>
  </table>
  </table>
</div>
<div class="addProduct">
  <form action="" ng-submit="submitFiore()">
    <label>
      <input type="text" ng-model="newFiore.nome" placeholder="Inserisci il nome del nuovo fiore">
    </label>
    <label>
      <input type="text" ng-model="newFiore.descrizione" placeholder="inserisci la descrizione del nuovo fiore">
    </label>
    <label>
      <input type="text" ng-model="newFiore.prezzo" placeholder="inserisci il prezzo del nuovo fiore">
    </label>
    <button type="submit">Crea fiore</button>
  </form>
</div>
</div>
</div>